---
import type { HTMLAttributes } from "astro/types";

import { cn } from "src(old)/utils/cn";

type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;
---

<div class={cn("flex flex-wrap", className)} {...props}>
  <slot />
</div>
