---
import ButtonLink from "../button-link.astro";
import Card from "../card.astro";
import IconLink from "../icon-link.astro";
import Tag from "../tag.astro";
---

<Card>
  <div class="grid grid-cols-[auto_1fr] gap-6">
    <div>
      <!-- TODO: optimize this profile image -->
      <img src="/profile-image.webp" class="size-52 rounded-lg mb-4" />
      <nav
        aria-label="main navigation"
        class="flex flex-col justify-center items-center gap-3">
        <ButtonLink href="/my-cv">My CV</ButtonLink>
        <ButtonLink href="/my-cv">My Academic Transcript</ButtonLink>
      </nav>
    </div>
    <section>
      <div class="flex items-start justify-between">
        <div>
          <h1 class="text-3xl sm:text-4xl font-bold" lang="vi">
            Trương Minh Phát
          </h1>
          <p class="font-medium sm:text-lg">Software Engineer</p>
        </div>
        <ul class="flex gap-3">
          <li>
            <IconLink name="facebook" title="Facebook" href="facebook.com" />
          </li>
          <li>
            <IconLink name="github" title="Github" href="github.com" />
          </li>
          <li>
            <IconLink name="linkedin" title="Linkedin" href="linkedin.com" />
          </li>
        </ul>
      </div>
      <ul class="my-4 grid grid-cols-2 gap-0.5">
        <li>
          <span class="font-medium">Phone: </span>
          <a class="underline underline-offset-2" href="tel:0933756220">
            0933 756 200
          </a>
        </li>
        <li>
          <span class="font-medium">Email: </span>
          <a
            class="underline underline-offset-2"
            href="mailto:tmphat1312@gmail.com">
            tmphat1312@gmail.com
          </a>
        </li>
        <li>
          <span class="font-medium">From: </span>
          <span>Long An, Vietnam</span>
        </li>
        <li>
          <span class="font-medium">Level:</span>
          <span>Intern</span>
        </li>
      </ul>
      <p class="my-6">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis
        suscipit necessitatibus dicta temporibus voluptate hic? In nesciunt
        perferendis laboriosam reiciendis dicta inventore tempore, deleniti eum
        eveniet accusantium quia, odio sunt quasi exercitationem qui, quo magni
        pariatur nisi? Asperiores praesentium in placeat soluta commodi optio
        veniam modi! Temporibus, quis! Id, soluta!
      </p>
      <ul class="flex gap-2.5 flex-wrap">
        <li><Tag>Open for hiring</Tag></li>
        <li><Tag>Schooling</Tag></li>
        <li><Tag>Learning Astro</Tag></li>
        <li><Tag>Working on graduation topic</Tag></li>
      </ul>
    </section>
  </div>
</Card>
