---
import DarkModeToggle from "../components/dark-mode-toggle.astro";
import Main from "../components/sections/main.astro";
import Layout from "../layouts/default.astro";
---

<Layout title="Truong Minh Phat - Software Engineer">
  <DarkModeToggle />
  <main class="container sm:px-8 py-3 sm:py-12 lg:py-20">
    <Main />
  </main>
  <script src="../scripts/initialize-tooltips.ts"></script>
</Layout>
