---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../utils/class-name";

type Props = HTMLAttributes<"a">;

const { class: className, ...props } = Astro.props;
---

<a {...props} class={cn("px-3.5 py-0.5 rounded-lg group", className)}>
  <span
    class="hover:underline group-focus-visible:underline underline-offset-2">
    <slot />
  </span>
  <span role="presentation">&#x2197;</span>
</a>
