---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../utils/class-name";

type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;
---

<div
  class={cn(
    "bg-white dark:bg-gray-800 p-4 sm:p-8 shadow-md rounded-2xl",
    className,
  )}
  {...props}>
  <slot />
</div>
