---
import { Icon } from "astro-icon/components";
import { firstCapitalize } from "../utils/first-cap";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  name: string;
  title: string;
};

const { name, title, ...props } = Astro.props;
---

<a
  {...props}
  data-tooltip={firstCapitalize(title)}
  class="text-xl bg-gray-100/80 dark:bg-gray-700 p-1.5 inline-flex rounded text-gray-700 dark:text-gray-100 hover:opacity-80 hover:shadow-sm">
  <Icon {name} />
</a>
