---
import IconLink from "./icon-link.astro";

type Props = {
  links: {
    name: string;
    title: string;
    href: string;
  }[];
};

const { links } = Astro.props;
---

<ul class="flex flex-wrap gap-2.5">
  {
    links.map((link) => (
      <li>
        <IconLink target="_blank" {...link} />
      </li>
    ))
  }
</ul>
