---
import Tag from "./tag.astro";

type Props = {
  tags: string[];
};

const { tags } = Astro.props;
---

<ul class="flex gap-2.5 flex-wrap">
  {
    tags.map((tag) => (
      <li>
        <Tag>{tag}</Tag>
      </li>
    ))
  }
</ul>
