---
import LevelledSkill from "./levelled-skill.astro";

const skills = [
  {
    name: "Astro",
    icon: "astro",
    level: 3,
    link: "https://astro.build",
    description:
      "Astro is a new kind of static site generator that delivers lightning-fast performance with a modern developer experience.",
  },
  {
    name: "React.js",
    icon: "react",
    level: 4,
    link: "https://react.dev",

    description: "A JavaScript library for building user interfaces.",
  },
  {
    name: "Tailwind CSS",
    icon: "tailwindcss",
    level: 5,
    link: "https://tailwindcss.com",
  },
  {
    name: "TypeScript",
    icon: "typescript",
    level: 3,
    link: "https://typescriptlang.org",
  },
  {
    name: "JavaScript",
    icon: "javascript",
    level: 4,
    link: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
  },
  {
    name: "Astro",
    icon: "astro",
    level: 3,
    link: "https://astro.build",
    description:
      "Astro is a new kind of static site generator that delivers lightning-fast performance with a modern developer experience.",
  },
  {
    name: "React.js",
    icon: "react",
    level: 4,
    link: "https://react.dev",

    description: "A JavaScript library for building user interfaces.",
  },
  {
    name: "Tailwind CSS",
    icon: "tailwindcss",
    level: 5,
    link: "https://tailwindcss.com",
  },
  {
    name: "Astro",
    icon: "astro",
    level: 3,
    link: "https://astro.build",
    description:
      "Astro is a new kind of static site generator that delivers lightning-fast performance with a modern developer experience.",
  },
  {
    name: "React.js",
    icon: "react",
    level: 4,
    link: "https://react.dev",

    description: "A JavaScript library for building user interfaces.",
  },
  {
    name: "Tailwind CSS",
    icon: "tailwindcss",
    level: 5,
    link: "https://tailwindcss.com",
  },
] as const;
// TODO: add aria-label to each skill item
---

<section class="mb-6">
  <h3 class="font-bold text-lg mb-4">I already know</h3>
  <ul
    class:list={[
      "grid gap-8 grid-cols-[repeat(auto-fill,_minmax(min(200px,100%),_1fr))]",
      {
        "grid-cols-[repeat(auto-fit,_minmax(min(200px,100%),_1fr))]":
          skills.length >= 4,
      },
    ]}>
    {
      skills.map((skill) => (
        <li>
          <LevelledSkill {...skill} />
        </li>
      ))
    }
  </ul>
</section>
