---
import IconTag from "../../components/icon-tag.astro";

const wantToLearn = [
  {
    name: "Vietnamese - Native",
    icon: "vietnamese",
  },
  {
    name: "English - C1 & TOEIC 970/990",
    icon: "english",
  },
  {
    name: "Japanese - JLPT N5",
    icon: "japanese",
  },
] as const;
---

<section class="mb-5">
  <h3 class="font-bold text-lg mb-4">I speak</h3>
  <ul class="flex gap-3">
    {
      wantToLearn.map((i) => (
        <li>
          <IconTag {...i} />
        </li>
      ))
    }
  </ul>
</section>
