---
import Card from "../../components/card.astro";
import Typography from "../../components/typography.astro";
import AlreadyKnow from "./already-know.astro";
import Languages from "./languages.astro";
import WantToLearn from "./want-to-learn.astro";
---

<Card>
  <Typography>
    <h2 class="text-3xl font-bold mb-5">Skills</h2>
    <AlreadyKnow />
    <WantToLearn />
    <Languages />
  </Typography>
</Card>
