---
import ButtonLink from "../../components/button-link.astro";
---

<ul class="my-4 grid grid-cols-2 gap-0.5">
  <li>
    <span class="font-medium">Phone: </span>
    <ButtonLink class="px-0.5" href="tel:0933756220"> 0933 756 200 </ButtonLink>
  </li>
  <li>
    <span class="font-medium">Email: </span>
    <ButtonLink class="px-0.5" href="mailto:tmphat1312@gmail.com">
      tmphat1312@gmail.com
    </ButtonLink>
  </li>
  <li>
    <span class="font-medium">From: </span>
    <span>Long An, Vietnam</span>
  </li>
  <li>
    <span class="font-medium">Level:</span>
    <span>Intern</span>
  </li>
</ul>
