---
import ButtonLink from "../../components/button-link.astro";
---

<nav
  aria-label="document navigation"
  class="flex flex-col justify-center items-center gap-0.5">
  <ButtonLink target="_blank" href="/my-cv">My CV</ButtonLink>
  <ButtonLink target="_blank" href="/my-cv">
    My Academic Transcript
  </ButtonLink>
</nav>
