---
import Head from "./head.astro";
import "../styles/globals.css";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <Head {title} />
  <body class="min-h-svh bg-bg text-fg dark:bg-bg_dark dark:text-fg_dark">
    <slot />
  </body>
</html>
