---
type Props = {
  title: string;
};

const { title } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>{title}</title>

  <script is:inline>
    const isDarkThemeLocalStorage = () => localStorage.theme === "dark";
    const isDarkThemeMediaQuery = () =>
      window.matchMedia("(prefers-color-scheme: dark)").matches;

    if (isDarkThemeLocalStorage() || isDarkThemeMediaQuery()) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  </script>
</head>
